.cstable {
  border-style: none;
  border-collapse:separate;
  border-spacing: 3px;
  max-width: 100%;
  box-sizing: border-box;
}
td {
  color: #ffffff;
  background-color: #800000;
  padding: 3px;
  text-align: left;
  font-size: 13px;
  vertical-align: bottom;
}
td input {
  font-size: 13px;
  margin-left: auto;
}
font {
  font-size: 13px;
}
.cstd {
  color: #000000;
  background-color: #000000;
  padding: 3px;
  font-size: 13px;
}
.csinput {
  border-style: none;
  color: #c0c0c0;
  background-color: #000000;
  font-size: 13px;
}
.csinput1 {
  border-style: none;
  color: #000000;
  background-color: #800000;
  font-size: 13px;
  width: 14px;
}
.csinput2 {
  border-style: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 13px;
  width: 900px;
}
select {
  border-style: none;
  color: #c0c0c0;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px 30px 0px 0px;
  background: url("downArrow.png") no-repeat right #000000;
}
.csa {
  text-decoration:none;
}
.csmenutable {
  border-style: none;
  border-collapse:collapse;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
}
.csmenutd {
  color: #000000;
  background-color: #000000;
  padding: 0px 0px 0px 0px;
}
.csmenuimg {
  position: relative;
  padding: 0px;
  cursor: pointer;
}
.csmenutext {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 11px;
  color: #ffffff;
  padding: 5px;
  line-height: 11px;
  text-align: left;
}
.csimg {
  position: absolute;
  top: 4px;
  left: 4px;
}
.csimgback {
  vertical-align: bottom;
}
html {
  height: 100%;
  width: 100%;
}
body.index {
  color: #faf0b4;
  background-color: #47361e;
  margin:0px;
  padding:0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
body.index {
  display: flex;
  flex-direction: column;
}
header {
  margin: 0 5px;
}
header h1 {
  font-size: 18px;
  margin: 5px 0;
}
header .ver {
  text-align: right;
  font-size: 14px;
}
header .notice {
  font-size: 10px;
  color: #FFA500;
}
header .nav-wrap {
  position: relative;
  overflow: hidden;
}
header nav {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
header .shrink-content {
  height: 190px;
}
header nav .links {
  flex-grow: 1;
  text-align: right;
  font-size: 14px;
}
header nav .notice {
  flex: 1 1 100%;
}
header nav .notice:nth-of-type(2) {
  margin-top: 0;
}
header .shrink-label {
  display: flex;
  position: fixed;
  top: 0;
  right: 5px;
  height: 34px;
  justify-content: center;
  flex-flow: column;
  transform: scaleY(0.5);
}
header .control {
  position: relative;
  width: 100%;
  background-color: black;
  border: solid 1px #bab084;
  border-bottom: none;
}

main {
  position: relative;
  flex: 1 1 100%;
  margin: 0 5px;
}

.tabs {
  display: grid;
  grid-template-rows: 1fr 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab {
  display: none;
}
.tab-content {
  display: none;
  overflow-y: hidden;
  overflow-x: auto;
  grid-row: 1;
  grid-column: 1 / 4;
  border: solid 1px #bab084;
}
.tab:checked+.tab-content {
  display: flex;
  flex-direction: row;
}
.tab-label {
  white-space: nowrap;
  text-align: center;
  padding: .5em;
  position: relative;
  cursor: pointer;
  font-size: 13px;
}
.tab-label::before {
  content: "";
  border: solid 1px #bab084;
  border-top-style: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scale(0.98) perspective(2em) rotateX(-2deg);
}
.tab-label.setting {
  grid-row: 2;
  grid-column: 1;
}
.tab-label.results {
  grid-row: 2;
  grid-column: 2;
}
.tab-label.diagnosis {
  grid-row: 2;
  grid-column: 3;
}
.tab:checked+.tab-content+label::before {
  background-color: black;
}

.pane {
  display: block;
  position: relative;
  border-style: solid;
  border-width: thin;
  text-align: center;
  color: #faf0b4;
  background-color: #000000;
  border-color: #bab084;
  border: 0;
  width: 100%;
  height: 100%;
}
.pane.menus {
  height: 100%;
  width: auto;
  flex: 0 0 auto;
}
.pane.mains {
  height: 100%;
  width: auto;
  flex: 1 1 100%;
}

.shrink-toggle {
  display: none;
}
.shrink-label {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.shrink-content {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}
.shrink-v .shrink-label::after {
  content: "▲";
}
.shrink-v .shrink-toggle:checked + .shrink-label::after {
  content: "▼";
}
.shrink-v .shrink-toggle:checked + .shrink-label + .shrink-content {
  height: 0;
}
.shrink-h .shrink-label::after {
  content: "◀";
}
.shrink-h .shrink-toggle:checked + .shrink-label::after {
  content: "▶";
}
.shrink-h .shrink-toggle:checked + .shrink-label + .shrink-content {
  width: 0;
}

.menus {
  overflow: visible;
  border-right: solid 1px #bab084;
}
.menus .shrink-label {
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 10;
  transform: translateX(-6px) scaleX(0.5);
}
.menus .shrink-content {
  width: 260px;
}

.simple-label {
  color: #fff;
  background-color: #800;
  padding: 3px;
  font-size: 12px;
}
html.simple .detail {
  display: none;
}

/* for mains.html */ 
#bmain select.tenpure {
  width: 140px;
}

.csinput {
  width: 100%;
  box-sizing: border-box;
}

.csinput2 {
  width: 280px;
}
.spec-label {
  padding-right: 5px;
}
.specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.spec-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*text-align: right;*/
}
.spec-row span {
  flex: 1 1 100%;
}
select.parts {
  max-width: 200px;
}

select.tokusei {
  width: 88px;
}
