html {
  height: 100%;
  width: 100%;
}
body {
  -webkit-overflow-scrolling: touch;
  margin: 5px;
}
body.index {
  color: #faf0b4;
  background-color: #47361e;
  margin:0px;
  padding:0px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
body.index {
  display: flex;
  flex-direction: column;
}

header .control {
  position: relative;
  width: 100%;
  background-color: black;
  border: solid 1px #bab084;
  border-bottom: none;
  padding: 5px;
}

.notice-arrow::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../../../asset/img/downArrow.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.notice-arrow.up::after {
  transform: rotate(180deg);
}
.notice-arrow.left::after {
  transform: rotate(90deg);
}


main {
  position: relative;
  flex: 1 1 100%;
  margin: 0 5px;
  overflow: auto;
}

.tabs {
  display: grid;
  grid-template-rows: 1fr 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab {
  display: none;
}
.tab-content {
  display: none;
  overflow: auto;
  grid-row: 1;
  grid-column: 1 / 4;
  border: solid 1px #bab084;
}
.tab:checked+.tab-content {
  display: flex;
  flex-direction: row;
}
.tab-label {
  display: flex;
  justify-content: center;
  flex-flow: column;
  white-space: nowrap;
  text-align: center;
  padding: .5em;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  margin: 0 1px 5px 0;
}
.tab-label::before {
  content: "";
  border: solid 1px #bab084;
  border-top-style: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.tab-label.setting {
  grid-row: 2;
  grid-column: 1;
}
.tab-label.results {
  grid-row: 2;
  grid-column: 2;
}
.tab-label.diagnosis {
  grid-row: 2;
  grid-column: 3;
  margin-right: 0;
}
.tab:checked+.tab-content+label::before {
  background-color: black;
  border-bottom-width: 3px;
}

.shrink-label.shrink-label-results {
  display: none;
}

.pane {
  display: block;
  position: relative;
  border-style: solid;
  border-width: thin;
  color: #faf0b4;
  background-color: #000000;
  border-color: #bab084;
  border: 0;
  width: 100%;
  height: auto;
  overflow: auto;
}
.pane.menus {
  width: auto;
  flex: 0 0 auto;
}
.pane.mains {
  width: 100%;
  min-width: 300px;
  flex: 1 1 100%;
  overflow: auto;
}
.pane section {
  padding: 5px;
}

.menus {
  overflow: visible;
  border-right: solid 1px #bab084;
}
.menus .shrink-label {
  position: absolute;
  top: calc(50% - 7px);
  left: 1px;
  z-index: 10;
}
.for-wide {
  display: none;
}

#mains-main .cstable {
  table-layout: fixed;
}

.tail-select .select-label {
  padding-right: 16px;
}
