.cstable {
  border-style: none;
  border-collapse:separate;
  border-spacing: 3px;
  width: 100%;
  box-sizing: border-box;
}
td {
  color: #ffffff;
  background-color: #800000;
  padding: 3px;
  text-align: left;
  font-size: 16px;
  vertical-align: bottom;
}
td input {
  font-size: 13px;
  margin-left: auto;
}
font {
  font-size: 13px;
}
.cstd {
  color: #000000;
  background-color: #000000;
  padding: 3px;
  font-size: 13px;
}
.csinput {
  border-style: none;
  color: #c0c0c0;
  background-color: #000000;
  font-size: 16px;
}
.csinput1 {
  border-style: none;
  color: #000000;
  background-color: #800000;
  font-size: 16px;
  width: 14px;
}
.csinput2 {
  border-style: none;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  width: 900px;
}
select {
  border-style: none;
  color: #c0c0c0;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0px 15px 0px 0px;
  background: url(../../../asset/img/downArrow.png) no-repeat right #000000;
}
.csa {
  text-decoration:none;
}
.csmenutable {
  border-style: none;
  border-collapse:collapse;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
}
.csmenutd {
  color: #000000;
  background-color: #000000;
  padding: 0px 0px 0px 0px;
}
.csmenuimg {
  position: relative;
  padding: 0px;
  cursor: pointer;
}
.csmenutext {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 11px;
  color: #ffffff;
  padding: 5px;
  line-height: 11px;
  text-align: left;
}
.csmenutext span {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.csimg {
  position: absolute;
  top: 4px;
  left: 4px;
}
.csimgback {
  vertical-align: bottom;
}
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
body {
  color: #faf0b4;
  background-color: #47361e;
  position: relative;
  margin:0px;
  padding:0px;
  max-width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}
header {
  margin: 0 5px;
}
header h1 {
  font-size: 18px;
  margin: 5px 0;
}
header .ver {
  text-align: right;
  font-size: 14px;
}
header .notice {
  font-size: 10px;
  color: #FFA500;
}
header .nav-wrap {
  position: static;
  overflow: hidden;
}
header nav {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
header .shrink-content {
  
}
header nav .links {
  flex-grow: 1;
  text-align: right;
  font-size: 14px;
}
header nav .notice {
  flex: 1 1 100%;
}
header nav .notice:nth-of-type(2) {
  margin-top: 0;
}
header .shrink-label {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  right: 5px;
  height: 34px;
  justify-content: center;
  flex-flow: column;
}
header .control {
  position: relative;
  width: 100%;
  background-color: black;
  border: solid 1px #bab084;
  padding: 5px;
  margin-bottom: 1em;
}

main {
  position: relative;
  flex: 1 1 100%;
  margin: 0 5px;
  overflow: visible;
}

.tab {
  display: none;
}
.setting {
  display: flex;
}
/*
.tabs {
  display: grid;
  grid-template-rows: 1fr 2em;
  grid-template-columns: 1fr 1fr 1fr;
}
.tab-content {
  display: none;
  overflow: auto;
  grid-row: 1;
  grid-column: 1 / 4;
  border: solid 1px #bab084;
}
.tab:checked+.tab-content {
  display: flex;
  flex-direction: row;
}
.tab-label {
  display: flex;
  justify-content: center;
  flex-flow: column;
  white-space: nowrap;
  text-align: center;
  padding: .5em;
  position: relative;
  cursor: pointer;
  font-size: 13px;
  margin: 0 1px 5px 0;
}
.tab-label::before {
  content: "";
  border: solid 1px #bab084;
  border-top-style: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.tab-label.setting {
  grid-row: 2;
  grid-column: 1;
}
.tab-label.results {
  grid-row: 2;
  grid-column: 2;
}
.tab-label.diagnosis {
  grid-row: 2;
  grid-column: 3;
  margin-right: 0;
}
.tab:checked+.tab-content+label::before {
  background-color: black;
  border-bottom-width: 3px;
}
*/

.articles {
  display: flex;
  flex-direction: column;
}
.tab-content {
  border: solid 1px #bab084;
  margin-bottom: 1em;
}
.tab-label.setting {
  order: 1;
}
.tab-content.setting {
  order: 2;
}
.tab-label.results {
  order: 3;
}
.shrink-label-results {
  order: 3;
}
.tab-content.results {
  order: 4;
}
.tab-label.diagnosis {
  order: 5;
}
.tab-content.diagnosis {
  order: 6;
}

.pane {
  display: block;
  position: relative;
  border-style: solid;
  border-width: thin;
  color: #faf0b4;
  background-color: #000000;
  border-color: #bab084;
  border: 0;
  width: 100%;
  height: auto;
  overflow: auto;
}
.pane.menus {
  width: auto;
  flex: 0 0 auto;
}
.pane.mains {
  width: 100%;
  min-width: 300px;
  flex: 1 1 100%;
  overflow: auto;
}
.pane section {
  padding: 5px;
}

.shrink-toggle {
  display: none;
}
.shrink-label {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.shrink-label::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../../../asset/img/downArrow.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.shrink-content {
  width: 100%;
  height: 100%;
  /*transition: all 0.2s ease-out;*/
  overflow: auto;
}
.shrink-v .shrink-label::after {
  transform: rotate(180deg);
}
.shrink-v .shrink-toggle:checked + .shrink-label::after {
  transform: none;
}
.shrink-v .shrink-toggle:checked + .shrink-label + .shrink-content {
  height: 0;
}
.shrink-h .shrink-label::after {
  transform: rotate(90deg);
}
.shrink-h .shrink-toggle:checked + .shrink-label::after {
  transform: rotate(-90deg);
}
.shrink-h .shrink-toggle:checked + .shrink-label + .shrink-content {
  width: 0;
}

.menus {
  overflow: visible;
  border-right: solid 1px #bab084;
}
.menus .shrink-label {
  position: absolute;
  top: calc(50% - 7px);
  left: 1px;
  z-index: 10;
}
.menus .shrink-content {
  
}

.simple-label {
  color: #fff;
  background-color: #800;
  padding: 3px;
  font-size: 12px;
}
html.simple .detail {
  display: none;
}

/* for mains.html */ 
.csinput {
  width: 100%;
  box-sizing: border-box;
}

.csinput.preset {
  width: calc(100% - 4em);
}

.csinput2 {
  width: 280px;
}
.spec-label {
  padding-right: 5px;
}
.specs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.spec-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.spec-row span {
  flex: 1 1 100%;
}
select.parts, select.niku, select.tokusei, select.slot, select.tenpure {
  width: 100%;
}
